<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		FILE ENCRYPTER 
	</title>
<style type="text/css">
html, 
body {
height: 100%;
}

body {
    background-color:black;
    background-image:url('https://store-images.s-microsoft.com/image/apps.43750.14521395122107786.80b18c36-46eb-4589-91a1-5cedc421176e.7dc0e3d2-9756-43a9-a1a3-f2ca95610b8c?mode=scale&q=90&h=1080&w=1920');
 background-size: 100% 100%;
    border-style:solid;
    border-width:10px;
    border-radius:5px;
}
h1{
  font-size:300%;
  ;
  top:100px;
  
} 
 
</style>
<body>
    <h1 align="center">
	        <font face="Lato" color=black size="100">
			YOUR FILE IS READY !!!
		</font>
	</h1>
	
</body>
</style>\</html>